@using WorldNews.DataLayer.Models
@model IEnumerable<News>

<body>
    <div class="page-title wb">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <h2><i class="fa fa-clipboard-list bg-red"></i> @ViewData["name"]</h2>
                </div><!-- end col -->
                <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Sections</a></li>
                        <li class="breadcrumb-item active">@ViewData["name"]</li>
                    </ol>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end page-title -->

    <section class="section wb">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-wrapper">
                        <div class="blog-list clearfix">
                            @foreach(var item in Model.OrderBy(n => n.CreateDate).Reverse())
                            {
                                <div class="blog-box row">
                                    <div class="col-md-4">
                                        <div class="post-media">
                                            <a href="single.html" title="">
                                                <img src="~/news/image/@item.NewsImage" alt="" class="img-fluid">
                                                <div class="hovereffect"></div>
                                            </a>
                                        </div><!-- end media -->
                                    </div><!-- end col -->

                                    <div class="blog-meta big-meta col-md-8">
                                        <h4><a asp-action="index" asp-route-id="@item.NewsId" title="">@item.NewsTitle</a></h4>
                                        <p>@item.NewsDescription.Substring(0,200)</p>
                                        <small><a href="/Section/@item.Section.SectionId/@item.Section.SectionName" title="">@item.Section.SectionName</a></small>
                                        <small><a href="single.html" title="">@item.CreateDate</a></small>
                                        <small><a href="/Author/@item.User.UserName" title="">by @item.User.UserName</a></small>
                                    </div><!-- end meta -->
                                </div>

                                <!-- end blog-box -->

                                <hr class="invis">
                            }
                        </div><!-- end blog-list -->
                    </div><!-- end page-wrapper -->

                    <hr class="invis">
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section>
</body>
